<section class="bg-color">
  <div class = "containers">
    <div class="title">
      <p>The Best Sell Book of March</p>
      <h1><span>Best</span>Seller</h1>
    </div>
    <div class = "row">
      <div class = "col-md-3"> 
        <div class="discount">9%</div>
        <div class="label label-green">Pre-order</div>
        <div class="product-container">
          <div class="p"><img src="" alt="Product1"></div>
          <div class="p"><img src="" alt="Product2"></div>
          <div class="p"><img src="" alt="Product3"></div>
        </div>
        <div class="image">
          <img src="" alt="image">
        </div>
        <div class="cart-line"></div>
        <div class="cart-item">
          <ul>
            <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>